body {
  background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
}

.App {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 26px;
  color: #fff;
}

input {
  margin: 5px;
}

.reminder-form {
  padding: 5
}

.list-item {
  display: inline-block;
}